body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.App {
  height: inherit;
  max-height: 100vh;
  width: inherit;
  max-width: 100vw;
  scrollbar-gutter: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

